@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "animations";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "../bower_components/sassier-buttons/scss/sassy-buttons";
@import "normalize";
  
 
$susy: (
 columns: 12,
  gutters: 0,
  math: fluid,
global-box-sizing: border-box
  );
 
 // extra susy commands and default grid
 //  columns: 12, 
 //  container: 1140px,
 //  gutters: 0.25,
 //  global-box-sizing: border-box,
 //  debug: (image: show-columns)
 // end of susy default grid

 
.testing {
  @include span(12);
  }

.testing2 {
  @include span(2);
  margin-left: span(4);
  
}
 

  // this is the most uptodate site

.testing3 {
  @include span(2);
  margin-left: span(6);
border:1px solid red;
&.cool{} 
  @include breakpoint(20em) {
    @include span(4); 
    margin-left: span(3);
    display: block;
    border:2px solid green;
  }
} 