@import "../bower_components/susy/sass/susy";
@import "layout-variables";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
// @import "animations";
@import "../bower_components/font-awesome/scss/font-awesome";
// @import "../bower_components/sassier-buttons/scss/sassy-buttons";
@import "normalize"; 
@import "legacycss"; 
// @import "new-portfolio-layout";

  
 
$susy: (
 columns: 12,
  gutters: 0,
  math: fluid,
global-box-sizing: border-box
  );
 
 // extra susy commands and default grid
 //  columns: 12, 
 //  container: 1140px,
 //  gutters: 0.25,
 //  global-box-sizing: border-box,
 //  debug: (image: show-columns)
 // end of susy default grid

 
 